@font-face {
    font-family: Comfortaa;
    src: url(/Comfortaa/Comfortaa-VariableFont_wght.ttf);
}

html{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: clip;
}

body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#content{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: .3fr 1fr;
    grid-template-rows: 1fr;
}

.sidebar{
    margin: 0;
    padding: 0;
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: #CCD5AE;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.logo{
    font-size: 3rem;
    font-weight: 600;
    -webkit-text-stroke: .75px #283618;
    margin-top: 3rem;
    color: #D4A373;
}
.tabs{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}
.menu{
    align-self: center;
}

.main{
    grid-column: 2/3;
    grid-row: 1/2;
    height: 100%;
    width: 100%;
}

img{
    max-height: 100%;
    width: 100%;
}

.menuBackground{
    height: 100%;
    width: 100%;
    background-color: #FAEDCD;
}

.hidden{
    opacity: 0;
}
